In [1]:
#function with no parameter and no return type
def add(): #function definition
    a=20
    b=30
    print("the addition is ",a+b)
add() #function calling

the addition is  50

In [2]:
#function with no parameter and no return type
def add():
    a=float(input("enter first number "))
    b=float(input("enter second number "))
    c=a+b
    print(f"the addition of {a} and {b} is ",c)
add()

enter first number 75
enter second number 87.5
the addition of 75.0 and 87.5 is  162.5

In [3]:
#function with parameter and no return type
def add(a,b):
    c=a+b
    print(c)
add(10,30)

40

In [4]:
#function with parameter and no return type
def add(a,b):
    c=a+b
    print(c)
a=float(input("enter first number"))
b=float(input("enter second number"))
add(a,b)

enter first number23
enter second number46
69.0

In [5]:
#function with parameter and no return type and with user input
def add(a,b):
    c=a+b 
    print(c)
num1=float(input("enter first number "))
num2=float(input("enter second number "))
add(num1,num2)

enter first number 67
enter second number 87
154.0

In [8]:
#function without parameter and return type
def sub():
    a=61
    b=82
    return a-b
sub()

-21

In [9]:
#function qithout parameter and return type
def add():
    c=10 #local variables
    d=50
    return c+d,c-d
print(f"the addition and subtraction is ",add())

the addition and subtraction is  (60, -40)

In [10]:
type(add())

tuple

In [11]:
#function with parameter and with return type
def add(a,b):
    return a+b
add(23.50,45)

68.5

In [12]:
#function with parameter and with return type
def add(a,b):
    return a+b
add("hello","welcome")

'hellowelcome'

In [ ]:
#function with all arithmetic

In [5]:
#function with no parameter and no return type
def mul(): #function definition
    a=123.7
    b=567.55
    print("the multiplication is ",a*b)
mul() #function calling

the multiplication is  70205.935

In [ ]:
#function with parameter and no return type
def sub(a,b):
    c=b-a
    print(c)
a=float(input("enter first number"))
b=float(input("enter second number"))
sub(a,b)

In [1]:
#function with parameter and no return type
def sub(a,b):
    c=b-a
    print(c)
a=float(input("enter first number"))
b=float(input("enter second number"))
sub(a,b)

enter first number42
enter second number56
14.0

In [4]:
#function without parameter and return type
def div():
    a=22
    b=82
    return b/a
div()

3.727272727272727

In [3]:
#function with parameter and with return type
def mul(a,b):
    return a*b
mul(23.50,45)

1057.5

In [ ]:
#wap to cal area of circle,take input from user for radius 3.14*r*r
#wap to cal area of rect,take input from user for radius l*b